In [ ]:
#Your project should include 

    #sorting, indexing, and grouping (10)
    #Slicing, loc or iloc (10)
    #Looping, iterrows (10)
    #Merge DataFrames (10)
    
    #Define a custom function to create reusable code (10)
    #NumPy (10)
    #Dictionary or Lists (10)


# 1. Package importation
# 2. Data importation
# 3. Cleaning and completing main dataset
# 4. geographical analyzes and plotting
# 5. physical analyzes and plotting
# 6. social influences analyzes and plotting

In [10]:
#1. Package importation

import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import seaborn as sns

# 2. Data importation

filename='C:/Users/mschm/OneDrive/Bureau/UCD/Project_other_files/who_suicide_statistics.csv.zip'
WHO=pd.read_csv(filename)
WHO.head()

filename_bis='C:/Users/mschm/OneDrive/Bureau/UCD/Project_other_files/countries.csv.'
continents=pd.read_csv(filename_bis)
continents_ind=continents.set_index('Country')
continents_ind.head()

              Region  Population
Country
Angola        AFRICA    12127071
Benin         AFRICA     7862944
Botswana      AFRICA     1639833
Burkina Faso  AFRICA    13902972
Burundi       AFRICA     8090068

   country  year     sex          age  suicides_no  population
0  Albania  1985  female  15-24 years          NaN    277900.0
1  Albania  1985  female  25-34 years          NaN    246800.0
2  Albania  1985  female  35-54 years          NaN    267500.0
3  Albania  1985  female   5-14 years          NaN    298300.0
4  Albania  1985  female  55-74 years          NaN    138700.0