In [ ]:
#Your project should include 

    #sorting, indexing, and grouping (10)
    #Slicing, loc or iloc (10)
    #Looping, iterrows (10)
    #Merge DataFrames (10)
    
    #Define a custom function to create reusable code (10)
    #NumPy (10)
    #Dictionary or Lists (10)


# 4. geographical analyzes and plotting
# 5. physical analyzes and plotting
# 6. social influences analyzes and plotting

In [ ]:
# 1. Data importation, cleaning and merging

In [35]:
import pandas as pd

filename='C:/Users/mschm/OneDrive/Bureau/UCD/Project_other_files/who_suicide_statistics.csv.zip'
WHO=pd.read_csv(filename)
WHO_ind=WHO.set_index('country')
WHO_ind.head()

         year     sex          age  suicides_no  population
country
Albania  1985  female  15-24 years          NaN    277900.0
Albania  1985  female  25-34 years          NaN    246800.0
Albania  1985  female  35-54 years          NaN    267500.0
Albania  1985  female   5-14 years          NaN    298300.0
Albania  1985  female  55-74 years          NaN    138700.0

In [36]:
WHO_ind.shape

(43776, 5)

In [37]:
WHO_ind.isna().sum()

year              0
sex               0
age               0
suicides_no    2256
population     5460
dtype: int64

In [50]:
WHO_ind_clean=WHO_ind.dropna()
WHO_ind_clean.shape

(36060, 5)

In [52]:
WHO_ind_clean['suicide_rate']=WHO_ind_clean['suicides_no']/WHO_ind_clean['population']*1000000
print(WHO_ind_clean.head())

         year     sex          age  suicides_no  population  suicide_rate
country
Albania  1987  female  15-24 years         14.0    289700.0     48.325854
Albania  1987  female  25-34 years          4.0    257200.0     15.552100
Albania  1987  female  35-54 years          6.0    278800.0     21.520803
Albania  1987  female   5-14 years          0.0    311000.0      0.000000
Albania  1987  female  55-74 years          0.0    144600.0      0.000000

<ipython-input-52-0f717b7ebc49>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  WHO_ind_clean['suicide_rate']=WHO_ind_clean['suicides_no']/WHO_ind_clean['population']*1000000

In [57]:
filename_bis='C:/Users/mschm/OneDrive/Bureau/UCD/Project_other_files/countries.csv.'
continents=pd.read_csv(filename_bis)
continents_ind=continents.set_index('Country')
print(continents_ind.head())

              Region  Population
Country
Angola        AFRICA    12127071
Benin         AFRICA     7862944
Botswana      AFRICA     1639833
Burkina Faso  AFRICA    13902972
Burundi       AFRICA     8090068

In [58]:
WHO_complete=WHO_ind_clean.merge(continents_ind,left_index=True,right_index=True,how='left')
print(WHO_complete.head())

         year     sex          age  suicides_no  population  suicide_rate  \
Albania  1987  female  15-24 years         14.0    289700.0     48.325854
Albania  1987  female  25-34 years          4.0    257200.0     15.552100
Albania  1987  female  35-54 years          6.0    278800.0     21.520803
Albania  1987  female   5-14 years          0.0    311000.0      0.000000
Albania  1987  female  55-74 years          0.0    144600.0      0.000000

         Region  Population
Albania  EUROPE   3581655.0
Albania  EUROPE   3581655.0
Albania  EUROPE   3581655.0
Albania  EUROPE   3581655.0
Albania  EUROPE   3581655.0

In [59]:
WHO_complete.shape

(36060, 8)

In [60]:
WHO_complete.isna().sum()

year               0
sex                0
age                0
suicides_no        0
population         0
suicide_rate       0
Region          4992
Population      4992
dtype: int64