In [2]:
import pandas as pd


filename='C:/Users/mschm/OneDrive/Bureau/UCD/Project_Related/who_suicide_statistics.csv.zip'
WHO=pd.read_csv(filename)
WHO.head()

   country  year     sex          age  suicides_no  population
0  Albania  1985  female  15-24 years          NaN    277900.0
1  Albania  1985  female  25-34 years          NaN    246800.0
2  Albania  1985  female  35-54 years          NaN    267500.0
3  Albania  1985  female   5-14 years          NaN    298300.0
4  Albania  1985  female  55-74 years          NaN    138700.0

In [4]:
WHO.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43776 entries, 0 to 43775
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      43776 non-null  object
 1   year         43776 non-null  int64
 2   sex          43776 non-null  object
 3   age          43776 non-null  object
 4   suicides_no  41520 non-null  float64
 5   population   38316 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 2.0+ MB

In [6]:
WHO.isna().sum()

country           0
year              0
sex               0
age               0
suicides_no    2256
population     5460
dtype: int64

In [32]:
WHO_clean=WHO.dropna()
print(WHO_clean)

                    country  year     sex          age  suicides_no  \
24                  Albania  1987  female  15-24 years         14.0
25                  Albania  1987  female  25-34 years          4.0
26                  Albania  1987  female  35-54 years          6.0
27                  Albania  1987  female   5-14 years          0.0
28                  Albania  1987  female  55-74 years          0.0
...                     ...   ...     ...          ...          ...
43759  Virgin Islands (USA)  2015    male  25-34 years          2.0
43760  Virgin Islands (USA)  2015    male  35-54 years          1.0
43761  Virgin Islands (USA)  2015    male   5-14 years          0.0
43762  Virgin Islands (USA)  2015    male  55-74 years          0.0
43763  Virgin Islands (USA)  2015    male    75+ years          0.0

       population
24       289700.0
25       257200.0
26       278800.0
27       311000.0
28       144600.0
...           ...
43759      4609.0
43760     12516.0
43761      7291.0
43762     12615.0
43763      2496.0

[36060 rows x 6 columns]

In [40]:
WHO_ind=WHO_clean.set_index('country')
print(WHO_ind.head())

         year     sex          age  suicides_no  population
country
Albania  1987  female  15-24 years         14.0    289700.0
Albania  1987  female  25-34 years          4.0    257200.0
Albania  1987  female  35-54 years          6.0    278800.0
Albania  1987  female   5-14 years          0.0    311000.0
Albania  1987  female  55-74 years          0.0    144600.0

In [41]:
WHO_ind_by_country=WHO_ind.groupby(['country'])['suicides_no'].sum()
print(WHO_ind_by_country)

country
Albania                                  1970.0
Antigua and Barbuda                        11.0
Argentina                               93862.0
Armenia                                  2422.0
Aruba                                     120.0
                                        ...
United States of America              1201401.0
Uruguay                                 14647.0
Uzbekistan                              44063.0
Venezuela (Bolivarian Republic of)      29504.0
Virgin Islands (USA)                      113.0
Name: suicides_no, Length: 118, dtype: float64

In [42]:
WHO_ind['suicide_perc']=WHO_ind['suicides_no']/WHO_ind['population']*100
print(WHO_ind)

                      year     sex          age  suicides_no  population  \
country
Albania               1987  female  15-24 years         14.0    289700.0
Albania               1987  female  25-34 years          4.0    257200.0
Albania               1987  female  35-54 years          6.0    278800.0
Albania               1987  female   5-14 years          0.0    311000.0
Albania               1987  female  55-74 years          0.0    144600.0
...                    ...     ...          ...          ...         ...
Virgin Islands (USA)  2015    male  25-34 years          2.0      4609.0
Virgin Islands (USA)  2015    male  35-54 years          1.0     12516.0
Virgin Islands (USA)  2015    male   5-14 years          0.0      7291.0
Virgin Islands (USA)  2015    male  55-74 years          0.0     12615.0
Virgin Islands (USA)  2015    male    75+ years          0.0      2496.0

                      suicide_perc
country
Albania                   0.004833
Albania                   0.001555
Albania                   0.002152
Albania                   0.000000
Albania                   0.000000
...                            ...
Virgin Islands (USA)      0.043393
Virgin Islands (USA)      0.007990
Virgin Islands (USA)      0.000000
Virgin Islands (USA)      0.000000
Virgin Islands (USA)      0.000000

[36060 rows x 6 columns]