In [7]:
import pandas as pd


filename='C:/Users/mschm/OneDrive/Bureau/UCD/Project_Related/who_suicide_statistics.csv.zip'
WHO=pd.read_csv(filename)
WHO.head()

   country  year     sex          age  suicides_no  population
0  Albania  1985  female  15-24 years          NaN    277900.0
1  Albania  1985  female  25-34 years          NaN    246800.0
2  Albania  1985  female  35-54 years          NaN    267500.0
3  Albania  1985  female   5-14 years          NaN    298300.0
4  Albania  1985  female  55-74 years          NaN    138700.0

In [8]:
WHO.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43776 entries, 0 to 43775
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      43776 non-null  object
 1   year         43776 non-null  int64
 2   sex          43776 non-null  object
 3   age          43776 non-null  object
 4   suicides_no  41520 non-null  float64
 5   population   38316 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 2.0+ MB

In [9]:
WHO.isna().sum()

country           0
year              0
sex               0
age               0
suicides_no    2256
population     5460
dtype: int64

In [23]:
WHO_clean=WHO.dropna()
print(WHO_clean)
print(WHO_clean['year'].min())
print(WHO_clean['year'].max())

                    country  year     sex          age  suicides_no  \
24                  Albania  1987  female  15-24 years         14.0
25                  Albania  1987  female  25-34 years          4.0
26                  Albania  1987  female  35-54 years          6.0
27                  Albania  1987  female   5-14 years          0.0
28                  Albania  1987  female  55-74 years          0.0
...                     ...   ...     ...          ...          ...
43759  Virgin Islands (USA)  2015    male  25-34 years          2.0
43760  Virgin Islands (USA)  2015    male  35-54 years          1.0
43761  Virgin Islands (USA)  2015    male   5-14 years          0.0
43762  Virgin Islands (USA)  2015    male  55-74 years          0.0
43763  Virgin Islands (USA)  2015    male    75+ years          0.0

       population
24       289700.0
25       257200.0
26       278800.0
27       311000.0
28       144600.0
...           ...
43759      4609.0
43760     12516.0
43761      7291.0
43762     12615.0
43763      2496.0

[36060 rows x 6 columns]
1979
2016

In [30]:
WHO_by_country=WHO_clean.groupby('country')['suicides_no','population'].sum()
print(WHO_by_country.head())

                     suicides_no    population
country
Albania                   1970.0  6.232547e+07
Antigua and Barbuda         11.0  2.054919e+06
Argentina                93862.0  1.190238e+09
Armenia                   2422.0  9.784436e+07
Aruba                      120.0  1.762045e+06

<ipython-input-30-6f6d565ac8b0>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  WHO_by_country=WHO_clean.groupby('country')['suicides_no','population'].sum()

In [36]:
filename_bis='C:/Users/mschm/OneDrive/Bureau/UCD/Project_Related/countries.csv.'
countries=pd.read_csv(filename_bis)
countries_ind=countries.set_index('Country')
countries_ind.head()

              Region  Population
Country
Angola        AFRICA    12127071
Benin         AFRICA     7862944
Botswana      AFRICA     1639833
Burkina Faso  AFRICA    13902972
Burundi       AFRICA     8090068

In [37]:
WHO_by_country_with_continent=WHO_by_country.merge(countries_ind,left_index=True,right_index=True,how='left')
print(WHO_by_country_with_continent.head())

                     suicides_no    population  Region  Population
country
Albania                   1970.0  6.232547e+07  EUROPE   3581655.0
Antigua and Barbuda         11.0  2.054919e+06     NaN         NaN
Argentina                93862.0  1.190238e+09   LATIN  39921833.0
Armenia                   2422.0  9.784436e+07  EUROPE   2976372.0
Aruba                      120.0  1.762045e+06   LATIN     71891.0

In [38]:
WHO_by_continent=WHO_by_country_with_continent.groupby('Region')['suicides_no','population'].sum()
print(WHO_by_continent)

                  suicides_no    population
Region
AFRICA                 6638.0  1.238822e+09
ASIA                1374891.0  8.951013e+09
EUROPE              2593822.0  1.778904e+10
LATIN                698908.0  1.326445e+10
NEAR_EAST             25913.0  8.375029e+08
NORTHERN_AMERICA     128388.0  9.619195e+08
OCEANIA               97083.0  7.551208e+08

<ipython-input-38-ff06993248a1>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  WHO_by_continent=WHO_by_country_with_continent.groupby('Region')['suicides_no','population'].sum()